.care-health {
	background-color: $bg-color;

	&__container {
		position: relative;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		padding: 150px 0 50px 0;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 267px;
			width: 100vw;
			height: 100%;
			transform: translate(100%, 0);
			border-radius: 30px 0px 0px 30px;
			background-color: $main-color;
		}
	}

	&__content {
		flex: 0 1 48%;
		padding: 0 20px;
	}

	&__block-text {
		max-width: 410px;
	}

	&__image {
		flex: 0 1 52%;
		position: relative;
		z-index: 2;
		// border: 1px solid #000;
		img {
			max-width: 100%;
		}
	}
}

.watch-video {
	padding: 60px 0 0 20px;
	flex: 1 1 100%;

	&__link {
		display: flex;
		align-items: center;
	}

	&__icon {
		flex: 0 0 44px;
	}

	&__content {
		padding: 0 0 0 12px;
	}

	&__title {
		font-style: normal;
		font-weight: 400;
		font-size: 13px;
		line-height: 126%;
		letter-spacing: 0.08em;
		color: $light-font-color;
		&:not(:last-child) {
			margin: 0 0 5px 0;
		}
	}

	&__text {
		font-style: normal;
		font-weight: 400;
		font-size: 9px;
		line-height: 126%;
		letter-spacing: 0.165em;
		text-transform: uppercase;
		color: #000;
	}
}

@media (max-width: 991.98px) {
	.care-health {
		&__container {
			&::before {
				right: 185px;
				border-radius: 20px 0px 0px 20px;
			}
		}
	}
}

@media (max-width: 767.98px) {
	.care-health {
		&__container {
			padding: 100px 15px 50px 15px;
			&::before {
				display: none;
			}
		}
		&__content {
			flex: 1 1 100%;
			padding: 0;
		}
		&__block-text {
		}
		&__image {
			flex: 1 1 100%;
			padding: 30px 0;
			text-align: center;
		}
	}
	.block-text {
		max-width: none;
		&__title {
			font-size: 34px;
		}
	}
	.watch-video {
		padding: 0;
	}
}
