.footer {
	padding: 45px 0; 

	&__container {
	}
	
	&__items {
		display: flex;
		justify-content: center;
		align-items: center;

	}

	&__item {
		margin-right: 57px;
	}
	&:last-child {
		margin-left: 0;
	}
}
