.footer {
	padding: 45px 0; 

	&__container {
	}
	
	&__items {
		display: flex;
		justify-content: center;
		align-items: center;

	}

	&__item {
		margin:0 56px 0 0;
		&:last-child {
			margin: 0;
		}
	}
}


@media (max-width: 479.98px) {
	.footer {
		padding: 10px 0 20px 0;
		&__items {
			flex-direction: column;
		}
		&__item {
			margin: 0 0 10px 0;
		}
	}
}