@import "fonts";
@import "minMin";
@import "config";
@import "header";

[class*="__container"] {
	max-width: 1087px;
	margin: 0 auto;
}

body {
	font-family: $font-stack;
	color: $font-color;
	font-size: 12px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-height: 100vh;
	// border: 4px solid tomato;
}

.main {
	flex: 1 1 auto;
}

.button {
	display: inline-block;
	padding: 14px 30px;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 800;
	font-size: 10px;
	line-height: 12px;
	letter-spacing: 0.14em;
	text-transform: uppercase;

	color: $font-wite;
	border-radius: 5px;
	transition: all 0.3s ease 0s;
	background-color: $main-color;
	&:hover {
		background-color: darken($main-color, 10%);
	}
}

.button-blue {
	background-color: $accent-color;
	&:hover {
		background-color: darken($accent-color, 10%);
	}
}

@media (max-width: 1087px) {
	[class*="__container"] {
		max-width: 970px;
	}
}

@media (max-width: 991.98px) {
	[class*="__container"] {
		max-width: 750px;
	}
}

@media (max-width: 767.98px) {
	[class*="__container"] {
		max-width: none;
	}
}
