@import "fonts";
@import "minMin";
@import "config";

[class*=__container] {
	max-width: 1057px;
	margin: 0 auto;
}

body {
	font-family: $font-stack;
	color: $font-color;
	font-size: 12px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-height: 100vh;
	// border: 4px solid tomato;
}

.main {
	flex: 1 1 auto;
}
